# Виртуальное окружение
venv/
env/

# База данных
*.sqlite3
db.sqlite3

# Компилированные и служебные файлы Python
__pycache__/
*.pyc

# Локальные настройки (если вы их не храните в репозитории)
local_settings.py

# Файлы IDE, например, для VS Code:
.vscode/